@font-face {
  font-family: nb;
  src: local("NBInternationalProBoo"),
    url(./fonts/NBInternationalProBoo.ttf) format("truetype");
}

@font-face {
  font-family: rh;
  src: local("Rejouice-Headline"),
    url(./fonts/Rejouice-Headline.ttf) format("truetype");
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: nb;
}

html,
body {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

#page1-content {
  height: 100%;
  width: 100%;
  color: #dadada;
  position: relative;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#cursor {
  width: 7.5vw;
  height: 7.5vw;
  border-radius: 100vmax;
  background-color: #ff5f38;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  transform: translate(-50%, -50%);
  z-index: 9;
}

#cursor h5 {
  font-size: 1.15vw;
  font-weight: 500;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3vw;
}

nav h3,
nav h4 {
  font-size: 1.4vw;
  font-weight: 400;
}

#page1-content h1 {
  font-family: rh;
  font-size: 27vw;
  line-height: 27vw;
  font-weight: 100;
}

#page1-content h1 span {
  font-family: inherit;
}

#page2 {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 5vw 2.8vw;
}

#page2-top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-bottom: 1.2vw;
  margin-bottom: 1vw;
  border-bottom: 1px solid #00000092;
}

#page2-top h3,
#page2-top h4 {
  font-size: 1.7vw;
  font-weight: 500;
}
#page2-top h3 {
  /* width: 26%; */
}

.elem {
  overflow: hidden;
}

.elem h1 {
  font-size: 4.2vw;
  font-weight: 500;
}
